<section class="product-container">
  @defer (on viewport; prefetch on idle) {
  <div class="product-grid">
    @for (product of products(); track product.id) {
    <app-card (addToCartEvent)="onAddToCart($event)" data-testid="product-card" class="product-card"
      [product]="product">
    </app-card>
    } @empty {
    <p>No results yet!</p>
    }
  </div>
  } @loading (minimum 500ms) {
  <div class="loading-state">
    <p>Cargando products....</p>
  </div>
  } @placeholder {
  <div class="placeholder-state">
    <p>Desplazáte hacia abajo para cargar los products</p>
  </div>
  }@error {
  <div class="error-state">
    <p>Algo malo ha pasado!!</p>
  </div>
  }
</section>