<section class="text-slate-medium">
  <div class="section-container">
    <div class="text-container">
      <h1 class="heading">
        Buy today and receive tomorrow!
      </h1>
      <p class="sub-heading">
        Discover a world of quality with our diverse range of products. From home essentials to fashion must-haves,
        we’ve got
        everything you need. Shop now for unbeatable deals and fast delivery!
      </p>
      <div class="btn-container">
        <button class="btn-primary">Discounts</button>
      </div>
    </div>
    <div class="image-container">
      <img class="image" alt="hero" [src]="imageHero" />
    </div>
  </div>
</section>